In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('/content/drive/MyDrive/DA tasks/pokemon_data.csv')

In [9]:
df.head()

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary

1. What is the average weight of Pokémon in each generation?

In [10]:
df.groupby('generation')['height'].mean()

generation
1    1.194702
2    1.163000
3    1.229630
4    1.133645
5    1.032051
6    1.068056
7    1.351136
8    1.443750
9    1.354167
Name: height, dtype: float64

2. How many Pokémon have two types (type1 and type2)?

In [11]:
df['type2'].notna().sum()

526

3. What is the most common primary type (type1) among all Pokémon?

In [12]:
df['type1'].mode()

0    Water
Name: type1, dtype: object

4. What is the statistical analysis of Pokémon heights?

In [13]:
df['height'].describe()

count    1025.000000
mean        1.211610
std         1.248167
min         0.100000
25%         0.500000
50%         1.000000
75%         1.500000
max        20.000000
Name: height, dtype: float64

5. Which Pokémon has the highest base experience (base_exp)?

In [14]:
df['base_exp'] = df['base_exp'].replace('—', 0)

df['base_exp'] = df['base_exp'].astype(float)
df.loc[df['base_exp'].idxmax(), 'name']

'Blissey'

6. What is the average total stats (total) for each egg group?

In [15]:
df.groupby('egg_group1')['total'].mean().sort_values().tail(1)

egg_group1
Undiscovered    539.768212
Name: total, dtype: float64

In [16]:
df.groupby('egg_group2')['total'].mean()

egg_group2
Dragon        405.000000
Fairy         390.600000
Field         396.600000
Flying        416.200000
Grass         397.875000
Human-Like    413.576923
Mineral       433.280000
Monster       413.729167
Water 1       405.129870
Water 2       409.750000
Water 3       424.111111
Name: total, dtype: float64

7. How many Pokémon have a hidden ability?

In [17]:
df['hidden_ability'].count()

530

8. What are the top 5 Pokémon with the highest speed?

In [18]:
df['speed'].sort_values().tail(5)

100    150
385    150
794    151
290    160
893    200
Name: speed, dtype: int64

In [19]:
print(df.loc[100,'name'])
print(df.loc[385,'name'])
print(df.loc[794,'name'])
print(df.loc[290,'name'])
print(df.loc[893,'name'])

Electrode
Deoxys
Pheromosa
Ninjask
Regieleki

9. How does the attack stat compare to the defense stat on average?

In [20]:
(df['attack'] - df['defense']).mean()

5.014634146341463

10. How many Pokémon are there in each species category?

In [21]:
abc = df["species"].value_counts()
print(abc)

species
Paradox Pokémon        22
Dragon Pokémon          8
Mouse Pokémon           8
Fox Pokémon             7
Poison Pin Pokémon      6
                       ..
Willpower Pokémon       1
Knowledge Pokémon       1
Plasma Pokémon          1
Snow Land Pokémon       1
Subjugation Pokémon     1
Name: count, Length: 715, dtype: int64

In [22]:
df.groupby('generation')['weight'].mean()

generation
1     45.951656
2     49.105000
3     67.077778
4     76.885047
5     52.402564
6     51.401389
7    109.661364
8     78.368750
9     87.295833
Name: weight, dtype: float64